spring:
    profiles:
        active:
        - dev
---
server:
    port: 8001
spring:
    profiles: dev
    application:
        name: cloud-question
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
        driver-class-name: com.mysql.cj.jdbc.Driver             # mysql驱动包
        url: jdbc:mysql://localhost:3306/codelife?characterEncoding=UTF-8&serverTimezone=UTC  # 数据库名称
        username: root
        password: root
        dbcp2:
            min-idle: 5                                            # 数据库连接池的最小维持连接数
            initial-size: 5                                       # 初始化连接数
            max-total: 5                                          # 最大连接数
            max-wait-millis: 200                                 # 等待连接获取的最大超时时间
mybatis-plus:
    config-location: classpath:mybatis/mybatis.cfg.xml        # mybatis配置文件所在路径
    type-aliases-package: com.codeLife.cloud.beans           # 所有Entity别名类所在包
    mapper-locations: classpath:/mapper/**/*.xml       # mapper映射文件
    - classpath:mybatis/mapper/**.xml

eureka:
    client: #客户端注册进eureka服务列表内
        service-url:
            defaultZone: http://eureka7001.com:7001/eureka/
    instance:
        instance-id: microservicecloud-question8001 # 实例名称
        prefer-ip-address: true  # 显示IP
    
info:
    app.name: microservicecloud
    company.name: www.bbu.com
    build.artifactId: $project.artifactId$
    build.version: $project.version$
---

server:
    port: 8001
    
spring:
    profiles: test
    application:
        name: cloud-question
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
        driver-class-name: com.mysql.cj.jdbc.Driver             # mysql驱动包
        url: jdbc:mysql://localhost:3306/codelife?characterEncoding=UTF-8&serverTimezone=UTC  # 数据库名称
        username: root
        password: root
        dbcp2:
            min-idle: 5                                            # 数据库连接池的最小维持连接数
            initial-size: 5                                       # 初始化连接数
            max-total: 5                                          # 最大连接数
            max-wait-millis: 200                                 # 等待连接获取的最大超时时间
mybatis-plus:
    config-location: classpath:mybatis/mybatis.cfg.xml        # mybatis配置文件所在路径
    type-aliases-package: com.codeLife.cloud.beans           # 所有Entity别名类所在包
    mapper-locations: classpath:/mapper/**/*.xml       # mapper映射文件
    - classpath:mybatis/mapper/**.xml

eureka:
    client: #客户端注册进eureka服务列表内
        service-url:
        defaultZone: http://eureka7001.com:7001/eureka/
    instance:
        instance-id: microservicecloud-question8001 # 实例名称
        prefer-ip-address: true  # 显示IP
    
info:
    app.name: microservicecloud
    company.name: www.bbu.com
    build.artifactId: $project.artifactId$
    build.version: $project.version$